//Примесь для использования шрифтов


@mixin openSans($style: light) {
    font-family: 'openSans', Helvetica, sans-serif;
    @if $style==bold {
        font-weight: 700; 
    }
    @else if $style==extraBold {
        font-weight: 800; 
    }
    @else if $style==light {
        font-weight: 300;
    }
    @else if $style==regular {
        font-weight: 400;
    }
    @else if $style==semiBold {
        font-weight: 600;
    }
}

@mixin roboto($style: light) {
    font-family: 'Roboto', 'Arial', sans-serif;
    @if $style==bold {
        font-weight: 700; 
    }
    @else if $style==extraBold {
        font-weight: 800; 
    }
    @else if $style==light {
        font-weight: 300;
    }
    @else if $style==regular {
        font-weight: 400;
    }
    @else if $style==semiBold {
        font-weight: 600;
    }
}

@mixin arial($style: light) {
    font-family: 'Arial', Helvetica, sans-serif;
    @if $style==bold {
        font-weight: 700;
    }
    @else if $style==extraBold {
        font-weight: 800; 
    }
    @else if $style==light {
        font-weight: 300;
    }
    @else if $style==regular {
        font-weight: 400;
    }
    @else if $style==semiBold {
        font-weight: 600;
    }
}

@mixin segoe($style: regular) {
    font-family: 'segoeUI', 'Arial', sans-serif;
    @if $style==bold {
        font-weight: 700;
    }
    @else if $style==semiBold {
        font-weight: 600;
    }
    @else if $style==regular {
        font-weight: 400;
    }
}

@mixin tahoma($style: regular) {
    font-family: 'Tahoma', 'Arial', sans-serif;
    @if $style==bold {
        font-weight: 700;
    }
    @else if $style==extraBold {
        font-weight: 800; 
    }
    @else if $style==light {
        font-weight: 300;
    }
    @else if $style==regular {
        font-weight: 400;
    }
    @else if $style==semiBold {
        font-weight: 600;
    }
}

//Приrмесь для колонок (разметка страницы)
@mixin row ($mt, $mb) { //примесь для блока с колонками, если нужно задать верхний и нижний margin, то писать так @include row(10px, 20px);
    margin-top: calc(#{$mt} - #{$offset-one-side});
    margin-bottom: calc(#{$mb} - #{$offset-one-side});
}
//конец Примесь для колонок (разметка страницы)


@mixin image() {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center center;
    margin: auto;
}

@function rem($px) {
	@return $px / $font-size-base *1rem;
}



