
<template>
  <div class="block">
    <p><a href="..\assets\files\Methodic_recomendations.pdf" download>Методические рекомендации по разработке основных и дополнительных профессиональных программ</a></p>
    <p><a href="..\assets\files\Path_methodic_recomendations_result.pdf" download>О направлении методических рекомендаций по итогой аттестации слушателей</a></p>
    <p><a href="..\assets\files\Path_methodic_recomendations.pdf" download>О направлении методических рекомендаций</a></p>
    <p><a href="..\assets\files\Right_teachers_DPO.pdf" download>О реализации права педагогических работников на ДПО</a></p>
    <p><a href="..\assets\files\Features_laws_and_normal_DPO.pdf" download>Об особенностях законодательного и нормативного правового обеспечения в сфере ДПО</a></p>
    <p><a href="..\assets\files\Letter_kvalification.pdf" download>Письмо Минобрнауки О документах о квалификации</a></p>
    <p><a href="..\assets\files\Letter_professional_education.pdf" download>Письмо Минобрнауки О дополнительном профессиональном образовании</a></p>
    <p><a href="..\assets\files\Letter_path_information.pdf" download>Письмо Минобрнауки о направлении информации</a></p>
    <p><a href="..\assets\files\Letter_methodic_recomendation_DPP.pdf" download>Письмо Минобрнауки О направлении методических рекомендаций по реализации ДПП</a></p>
    <p><a href="..\assets\files\Letter_methodic_recomendations.pdf" download>Письмо Минобрнауки о направлении методических рекомендаций-разъяснений</a></p>
    <p><a href="..\assets\files\Letter_features_laws_and_normal_DPO.pdf" download>Письмо Минобрнауки Об особенностях законодательного и нормативного правового обеспечения в сфере ДПО</a></p>
    <p><a href="..\assets\files\Decree_rules_official_site_education.pdf" download>Постановление Об утверждении Правил размещения на оф.сайте образовательной организации Интернет</a></p>
    <p><a href="..\assets\files\Decree_enginiring_rules.doc" download>Постановление Правительства РФ О правилах разработки, утверждения и применения проф.стандартов</a></p>
    <p><a href="..\assets\files\Order_extra_education.pdf" download>Приказ Минобрнауки Об утверждении порядка организации и осуществления образовательной деятельности по доп. общеобразовательным програм</a></p>
    <p><a href="..\assets\files\Order_extra_prof_education.pdf" download>Приказ Минобрнауки Об утверждении порядка организации и осуществления образовательной деятельности по доп.проф.программам</a></p>
    <p><a href="..\assets\files\Labor_code.pdf" download>Трудовой кодекс о квалификации работника, проф.стандарт, подготовка и доп. образование</a></p>
    <p><a href="..\assets\files\FZ_273.pdf" download>ФЗ N 273-ФЗ Об образовании в РФ</a></p>
  </div>
</template>
<script>
export default {
  name: "Regulatory",
  data() {
    return {
    };
  }
};
</script>

<style lang="scss" scoped>
.block{
  margin: 2%;
}
strong {
  font-family: "Anonymous Pro";
  font-size: 35px;
}
p {
  font-family: "Roboto";
  font-size: 26px;
  text-align: left;
}
br {
  text-align: left;
}
h1 { 
  font-family: "Anonymous Pro";
  font-size: 35px;
}
</style>
