<template>
  <div class="content">
    <strong v-if="!SubMenu">О нас</strong>
    <strong v-if="SubMenu">{{SubMenu}}</strong>
    <!-- <div v-for="(t, i) in text" :key="i">
      <div v-if="t.name=='О нас' && !SubMenu" v-html="t.text" />
    </div>
    <div v-for="(t, i) in text" :key="i">
      <div v-if="t.name==SubMenu" v-html="t.text" />
    </div> -->
    
    <News v-if="SubMenu=='Новости'"/>
    <About_ v-if="SubMenu=='О нас'||!SubMenu"/>
    <Regulatory v-if="SubMenu=='Нормативное правовое обеспечение'"/>
  </div>
</template>
<script>
import News from "@/components/About/News.vue";
import About_ from "@/components/About/About_.vue";
import Regulatory from "@/components/About/Regulatory.vue";
export default {
  name: "About",
  components: {
    News,
    About_,
    Regulatory
  },
  data() {
    return {
      text: [
        {
          name: "О нас",
          text: `<p>djhdjhdfj<br>djfdbhfhjfg<br>dkjkdfbfvfvd<br></p>`
        },
        {
          name: "Новости",
          text: `<p>djhdjhdfj<br>djfdbhfhjfg<br>dkjkdfbfvfvd<br></p>`
        },
        {
          name: "Нормативное правовое обеспечение",
          text: `<p>djhdjhdfj<br>djfdbhfhjfg<br>dkjkdfbfvfvd<br></p>`
        },
        {
          name: "Наши партнеры",
          text: `<p>djhdjhdfj<br>djfdbhfhjfg<br>dkjkdfbfvfvd<br></p>`
        },
        {
          name: "Преподаватели",
          text: `<p>djhdjhdfj<br>djfdbhfhjfg<br>dkjkdfbfvfvd<br></p>`
        },
        {
          name: "Оплата",
          text: `<p>djhdjhdfj<br>djfdbhfhjfg<br>dkjkdfbfvfvd<br></p>`
        },
        {
          name: "Вакансии",
          text: `<p>djhdjhdfj<br>djfdbhfhjfg<br>dkjkdfbfvfvd<br></p>`
        },
        {
          name: "Отзывы",
          text: `<p>djhdjhdfj<br>djfdbhfhjfg<br>dkjkdfbfvfvd<br></p>`
        }
      ]
    };
  },
  props: {
    SubMenu: String
  }
};
</script>

<style lang="scss" scoped>
.content {
  margin: 20px;
margin: 50px;
  text-align: center;
}
strong {
  font-family: "Anonymous Pro";
  font-size: 35px;
}
p {
  font-family: "Roboto";
  font-size: 26px;
}
</style>
