<template>
</template>

<script>

import axios from 'axios';
import {backendURL} from "@/main";

export default {
    name: 'Сontacts',
    data() {
        return {
        }
    },
    components: {
    },
}
</script>

<style scoped>

</style>
