<template>
  <div>
    <Slider
      animation="fade"
      v-model="sliderValue"
      :duration="5000"
      :speed="500"
      width="100%"
      height="450px"
      class="ap"
    >
      <SliderItem
        v-for="(i, index) in list"
        :key="index"
        @click="changeIndex(index);"
        :style="i.style"
      >
        <img :src="i.image" />
        <p style="line-height: 280px; font-size: 5rem; text-align: center;">Page{{ i.text}}</p>
      </SliderItem>
    </Slider>
    <div class="strong_text">
      <strong>Профессиональная Образовательная Автономная Некоммерческая Организация.</strong>
      <br />
    </div>

    <div class="cont">
      <img :src="logo" class="logo" />

      <div class="content">
        Real Skills помогает погрузиться в суть профессии и воплотить свои мечты.
        <br />
        <br />
        <b>Организация и проведение мероприятий повышения квалификации для сферы гостеприимства:</b>
        <br />
        <br />• Курсы
        <br />• Тренинги
        <br />• Семинары
        <br />• Вебинары
        <br />
      </div>
    </div>
  </div>
</template>

<script>
import { Slider, SliderItem } from "vue-easy-slider";

export default {
  name: "Main",
  components: {
    Slider,
    SliderItem
  },
  data() {
    return {
      list: [],
      sliderValue: 1,
      logo: require("../assets/img/logo.png")
    };
  },
  created() {
    this.list = [
      {
        style: {
          backgroundColor: "#3f51b5",
          width: "100%",
          height: "100%"
        },
        text: "1A",
        image: require("../assets/img/logo.png")
      },
      {
        style: {
          backgroundColor: "#eee",
          width: "100%",
          height: "100%"
        },
        text: "2B",
        image: require("../assets/img/logo.png")
      },
      {
        style: {
          backgroundColor: "#f44336",
          width: "100%",
          height: "100%"
        },
        text: "3C",
        image: require("../assets/img/logo.png")
      },
      {
        style: {
          backgroundColor: "#eee",
          width: "100%",
          height: "100%"
        },
        text: "4D",
        image: require("../assets/img/logo.png")
      }
    ];
  },
  methods: {
    changeIndex(index) {
      this.sliderValue = index;
    }
  }
};
</script>

<style>
.logo{
  height: 100%;
  float: right;
  margin: 10px;
}
.cont {
  margin-top: 60px;
  margin-bottom: 60px;
}
.ap {
  margin-top: 35px;
}
.content {
  text-align: left;
  margin: 10px;
  font-family: "Roboto";
  font-size: 26px;
}
.strong_text {
  text-align: center;
  margin: 25px;
  font-size: 42px;
  font-family: "Anonymous Pro";
}
</style>
