<template>
  <div class="content">
    <strong v-if="!SubMenu">О нас</strong>
    <strong v-if="SubMenu">{{SubMenu}}</strong>

    <div v-for="(t, i) in text" :key="i">
      <div v-if="t.name==SubMenu" v-html="t.text" />
    </div>
    <Internship v-if="SubMenu=='Профессиональное обучение'"/>
    <Retraining v-if="SubMenu=='Переподготовка'"/>
    <Training v-if="SubMenu=='Повышение квалификации'"/>
  </div>
</template>
<script>
import Internship from "@/components/Programm/Internship.vue";
import Retraining from "@/components/Programm/Retraining.vue";
import Training from "@/components/Programm/Training.vue";
export default {
  name: "Programm",
  components: {
    Internship,
    Retraining,
    Training
  },
  data() {
    return {
      text: [
        {
          name: "Акции и спецпредложения",
          text: `<p>djhdjhdfj<br>djfdbhfhjfg<br>dkjkdfbfvfvd<br></p>`
        },
        {
          name: "Тренинги и семинары",
          text: `<p>djhdjhdfj<br>djfdbhfhjfg<br>dkjkdfbfvfvd<br></p>`
        },
      ]
    };
  },
  props: {
    SubMenu: String
  }
};
</script>

<style lang="scss" scoped>
.content {
  margin: 20px;
  text-align: center;
}
strong {
  font-family: "Anonymous Pro";
  font-size: 35px;
}
p {
  font-family: "Roboto";
  font-size: 26px;
  text-align: left;
}
br {
  text-align: left;
}
h1 { 
  font-family: "Anonymous Pro";
}
</style>
